@import "../../assets/style/variables.scss";

.report {
    &__wrapper {
        height: 100vh;
        background-color: $darkest-secondary-color;
        display:flex;
        justify-content: center;
        align-items: center;
      
    }

    &__container {
        display:flex;
        width: 60rem;
        
    }

    &__list{
        &__tasks {
            width: 100%;
            height: fit-content;
            margin-top: auto;
            margin-bottom: auto;
        }

        &__nav {
            width: 30%;
        }

    }
}