@import "../../assets/style/variables.scss";

.report {
    &__container {
        display:flex;
        // grid-template-columns: 1fr 4fr;
        // grid-template-rows: 1fr 4fr 1fr;
        column-gap: 1.5rem;
        height: 100vh;
        background-color: $darkest-secondary-color;
        padding-left: 8rem;
        padding-right: 8rem;
    }
}