@font-face {
    font-family: 'Rubik';
    src: url(../font/rubik-v14-latin-300.woff2) format('woff2');
    src: url(../font/rubik-v14-latin-300.woff) format('woff');
    font-weight:300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url(../font/rubik-v14-latin-regular.woff2) format('woff2');
    src: url(../font/rubik-v14-latin-regular.woff) format('woff');
    font-weight:400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url(../font/rubik-v14-latin-500.woff2) format('woff2');
    src: url(../font/rubik-v14-latin-500.woff) format('woff');
    font-weight:500;
    font-style: normal;
}