<div class="task">
  <div class="task__container">
    <div class="task__icon__container">
      <img class="task__icon" src="{{'../../assets/images/icon-' + userDetails.activity.toLowerCase().split(' ').join('-') +'.svg'}}">
    </div>
    <div class="task__details">
      <div class="task__header">
        <p class="task__type">{{userDetails.activity}}</p>
        <img class="task__header__icon" src="../../assets/images/icon-ellipsis.svg">
      </div>
      <p class="task__hours">{{userDetails.hours.current}} hrs</p>
      <p class="task__period">Last week - {{userDetails.hours.previous}}hrs</p>
    </div>
  </div>
</div>
