<div class="sidebar">
    <div class="sidebar__container">
        <div class="sidebar__main">
            <img class="sidebar__image" src="../../assets/images/image-jeremy.png">
            <p class="sidebar__text sidebar__text__label">Report for</p>
            <h1 class="sidebar__text">Jeremy</h1>
            <h1 class="sidebar__text sidebar__text__user">Robson</h1>
        </div>
        <div class="sidebar__menu"  *ngFor="let field of menuFields">
            {{field}}
        </div>
    </div>
</div>

